[submodule "themes/origin"]
	path = themes/origin
	url = https://gitlab.com/asleeppiano/origin-hugo-theme.git
[submodule "themes/notrack"]
	path = themes/notrack
	url = https://github.com/gevhaz/hugo-theme-notrack
[submodule "public"]
	path = public
	url = https://github.com/jcbfshr/edu.jcbfshr.com.git
	branch = main
